/*section Fonctionnement **********************************************************/
.fonctionnement{
    margin-left: 10px;
    text-align: center;
    .ListeDesTaches{
        @include respond('sm') {
            display: grid;
            grid-template-columns: repeat(3,1FR);
        }

    }
    

        .btn{
            display: flex;
            align-items: center;
            border-radius: 20px;
            box-shadow: 2px 2px 1px lightgray;
            background: $color-fond-input;
            /*color: $color-primaire;*/
            padding-left:  15px;
            border: hidden;
            width: auto;
            margin :15px 10px;

            

            .numEtape{
                display: flex;
                border-radius: 20px;
                background:  $color-primaire;
                color: white;
                padding: 5px;
                width: 15px;
                height: 15px;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                transform: translateX(-20px);
            }
            

            
            
            .etape{ 
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 5px 0;
                
                
                .fas{
                    margin-right: 10px;
                    
                }
            }
        }
    
}/* fin fonctionnement*/