html{
    font-size: $font-size-default;
    @font-face {
        font-family: 'Roboto';
        src: url('../font/Roboto-Regular.ttf');
    }
    @font-face {
        font-family: 'Shrikhand';
        src: url('../font/Shrikhand-Regular.ttf');
    }   

    body{

        font-size: 1rem;
        margin: 0;
        font-family: $font-police-text ;
        
        h1{
            font-size: 18px;
            font-weight: bold;
            padding-left: 50px;
            padding-right: 50px;
        }

        h2{
            font-size: 16px;
            font-weight: bold;
        }
        h3{
            font-size: 12px;
            font-weight: bolder;
        }
        
        p{
            font-size: 11px;
        }
           
        
        header{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        @import "presentation";

        @import "fonctionnement";


        /*section Restaurant ***********************************************/
        .restaurants{
           
            background-color: $color-fond-input;
            padding-top: 20px;
            padding-bottom: 20px;

            h2{
                margin-left: 10px;
            }

            .listeDesRestaurants{
               
                .detailResto{
                    /*chaque bloc  va contenir une image, un titre (nom du restaurant en h2), la localisation et un coeur*/
                    border: 5px;
                    background-color: white;
                    /*les coins du container ne sont pas à angle droit mais un peu arrondis*/
                    border-radius: 20px;
                    /*une légère ombre portée */
                    box-shadow: 2px 2px 1px lightgray;
                    /*on écarte chaque bloque de 10px les uns des autres*/
                    margin: 10px;
                    cursor: pointer;
                

                    .vignetteImage{
                        /*les éléments contenus dans vignette image (les children: les images ici) ne déborderont pas du cadre quand on va faire la transition*/
                        overflow: hidden;
                        border-radius: 20px 20px 0 ;
                        width: auto;
                        
                        .photoResto{
                            display: block;
                            width: 100%;
                            height: 150px;
                            border-radius: 20px 20px 0 0;
                            /*l'image couvre l'espace (zoom) demandé avec height et width : ne se déforme pas*/
                            object-fit: cover;
                        }
                    }
                    /*Informations sous la photo en 2 parties : nom / localisation ET Coeur */
                    .infoResto{
                        width: auto;
                        display:flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .texteResto{
                            padding-left: 10px;
                            h3{
                                margin-bottom: 5px;
                            }
                            p{
                                margin-top: 0;
                            }
                        }

                        .coeurResto{
                            padding-right: 15px;
                            align-self: center;
                            
                            .fa-heart{
                                color: blue;
                                :hover{
                                    color: red;
                                    background:$color-primaire;
                                }
                            }
                        }

                    }

                    
                }

            }
        }

        footer{
            padding-top :5px;
            padding-bottom :5px;
            padding-left: 10px;

            color: $color-font-white;
            background-color: $color-fond-footer;
            h3{
                font-family: $font-police-titre;
                font-size: 15px;
                font-style: oblique;
                font-weight: bold;
                padding-bottom: 10px;
            }
            p{
                font-size: 12px;
            }
        }


    } /*fin body*/

} /* fin html */