$font-size-default : 16px;

$font-police-text : 'Roboto', sans-serif;
$font-police-titre : 'Shrikhand';

$color-primaire : #9356DC ;
$color-secondaire : #FF79DA;
$color-tertiaire : #99E2D0;
$color-fond-btn : #f5edff;
$color-fond-input : #eaeaea;
$color-fond-footer : black;
$color-font-white : white;
















