.presentation{
    /*Tous les éléments de Présentation seront alignés au centre de l ecran*/
    text-align: center;
    padding-bottom: 30px;
    background-color: $color-fond-btn;

    .localisation{
        background-color: $color-fond-input;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0px -2px 1px lightgrey;

        .puceNavig{
            padding-left: 55px;                
            label{
                font-size: 0.7rem;
                padding-right: 10px;
            }
            input{
                /*on enlève la couleur blanche par défaut des zones de saisie et 
                 on efface la bordure */
                background-color: transparent;
                font-size: 11px;
                font-weight: bold;
                border: none;
            }
        }
    }
    p{
        padding-right: 40px;
        padding-left:  40px;
    }
    
    

} /* fin section présentation *****************************************************/