.coeurResto{
    display: flex;
    justify-content: center;
    padding-right: 15px;
    cursor: pointer;
    align-self: center;
    position: relative;

                                
    .far.fa-heart{
       display: block;   
       position: absolute;   
       color: $color-primaire;
    }


    .fas.fa-heart{     
        opacity: 0;
        color: $color-secondaire;
        position: absolute;
        transition: all 0.3s;
    }
    /* au survol du conteneur... effet sur le coeur ...... */

    &:hover .fas.fa-heart{
        animation: battement 3s linear infinite; 
    }
    

    @keyframes battement {
        0%{
            opacity: 0.4;
            color: $color-secondaire;
        }
        30%{
            opacity: 0.7;
            color: $color-primaire;
        }
        70%{
            opacity: 0.5;
            color: $color-secondaire;
        }
        100% {
            opacity: 1;
            color: $color-primaire;
        }
    }
}/*fin coeur*/
